<div class="msg-row" style='text-align: {{text_align}}'>
    <div class={{msg_cloud}}>
        <b class="username">{{username}}</b> <span class="time">{{timestamp}}</span>
        <br>{{content}}
    </div>
</div>